<h3>
  Clientes
</h3>
<hr>
<form [formGroup]="registerForm">
  <h4>Formulário de Cadastro</h4>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Nome</label>
      <input
        type="text"
        class="form-control"
        [ngClass]="{'is-invalid': registerForm.get('name').errors
          && registerForm.get('name').touched}"
        placeholder="informe seu nome"
        formControlName="name">
      <div *ngIf="registerForm.get('name').hasError('required')
        && registerForm.get('name').touched" class="invalid-feedback">
        O nome é obrigatório
      </div>
      <div *ngIf="registerForm.get('name').hasError('minlength')
        && registerForm.get('name').touched" class="invalid-feedback">
        O nome deve conter no mínimo 4 caracteres
      </div>
      <div *ngIf="registerForm.get('name').hasError('maxlength')
        && registerForm.get('name').touched" class="invalid-feedback">
        O nome deve conter no máximo 50 caracteres
      </div>            
    </div>
  </div>  
  <div class="form-row">
    <div class="form-group col-md-8">
      <label>Email</label>
      <input
        type="text"
        class="form-control"
        [ngClass]="{'is-invalid': registerForm.get('eMail').errors
          && registerForm.get('eMail').touched}"
        placeholder="informe seu email (ex.: joao@email.com)"
        formControlName="eMail">
      <div *ngIf="registerForm.get('eMail').hasError('required')
        && registerForm.get('eMail').touched" class="invalid-feedback">
        O email deve ser informado
      </div>         
      <div *ngIf="registerForm.get('eMail').hasError('email')
        && registerForm.get('eMail').touched" class="invalid-feedback">
        Email inválido
      </div>           
    </div>
    <div class="form-group col-md-4">
      <label>Data de Nascimento</label>
      <input
        type="date"
        class="form-control"
        [ngClass]="{'is-invalid': registerForm.get('birthDate').errors
          && registerForm.get('birthDate').touched}"
        placeholder=""
        formControlName="birthDate">
        <div class="invalid-feedback">
          A data de nascimento é obrigatória
        </div>        
    </div>    
  </div>
  <p>
    Form value: {{registerForm.value | json}}
  </p>
  <p>
    Form status: {{registerForm.status | json}}
  </p>
</form>
<br>
<button class="btn btn-primary" (click)="save()">
  Salvar
</button>
<br>
<hr>
<div *ngFor='let customer of customers'>
    <p>
      Nome: {{customer.name}}
    </p>
    <p>
      Email: {{customer.eMail}}
    </p>   
    <p>
      Cadastrado em: {{customer.createdAt | date: 'dd/MM/yyyy'}}
    </p>
    <hr>    
</div>
